<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Magnolia :-)</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../webresources/css/style.css">
</head>
<body>

<div class="container">

    <header>
        <h1>Hello Magnolia :-)</h1>
        <p>We will use this page as a starting page to create our first page template.</p>
    </header>

    <div class="main">
        <blockquote>
            <p>Most gods throw dice, but Fate plays chess, and you don't find out til too late that he's been playing with two queens all along.</p>
            <cite>Terry Pratchett</cite>
        </blockquote>
    </div>

</div>

</body>
</html>